
@font-face {
    font-family: 'bud_boldregular';
    src: url('../fonts/bud_bold-webfont.woff2') format('woff2'),
         url('../fonts/bud_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.hidden{
	display: none;
}
html{
	background: rgb(19,41,75);
background: linear-gradient(148deg, rgba(19,41,75,0.9878326330532213) 8%, rgba(207,10,44,1) 52%, rgba(19,41,75,1) 96%);
}

body{
	font-family: 'bud_boldregular',Arial, serif;
}

/*----------for header ----------*/

header{
	width: 960px;
	height: 91px;
	background-color: black;

}

#logo{
	width: 200px;
	height: 91px;
	float: left;
	margin-top: 13px;
	margin-left: 16px;
}


nav{
	width: 608px;
	height: 26px;
	float: left;
	margin-left: 135px;


}
nav ul li{
	display: inline;
}
nav ul li a{
	font-size: 25px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 91px;
	margin-left: 19px;

}

.onPage{
	text-decoration: underline;
	text-decoration-color: #CF0A2C;
	text-decoration-thickness: 3px;
}
/*---------- header end ----------*/
/*---------- for nav underline hover ---------*/
.selected{
	position: relative;
	text-decoration: none;
	font-size: 20px;
}

.selected:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	width: 0;
	height: 2px;
	background: #CF0A2C;
	transition: all .3s;
}
.selected:hover:before{
	width: 100%;
	left: 0;
	right: 0;
}
/*---------- nav hover end ----------*/


/*------------------------------------------- This is for HOME page --------------------------------------------------------*/

#homeContainer{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: rgb(207,10,44);
	background: linear-gradient(148deg, rgba(207,10,44,1) 0%, rgba(19,41,75,1) 68%);
	justify-content: center;
	align-items: center;
}

#homeContent1,#homeContent2,#homeContent3,#homeContent4{
	margin-bottom: 31px;
}


#homeContent1{
	width: 860px;
	height: 361px;
	margin-top: 31px;
	background-image: url("../images/index_page/beer_bar.png");
}

#homeContent2{
	width: 860px;
	height: 361px;
	background-image: url("../images/index_page/car.png");
}
#homeContent3{
	width: 860px;
	height: 361px;
	background-image: url("../images/index_page/stage.png");
}
#homeContent4{
	width: 862px;
	height: 377px;
	background-image: url("../images/index_page/homebanner_4.png");
}

#homeContent1 h3{
	font-size: 83px;
	-webkit-text-stroke: 3px #fff; 
	-webkit-text-fill-color: transparent;
	margin-left: 77px;
	margin-top: 200px;

}
.button_1{
	width: 205px;
	height: 52px;
	background-color: #CF0A2C;
	text-align: center;
	margin-left: 620px;
	
}

.button_1 a{

	font-size: 20px;
	color: white;
	line-height: 52px;
	text-decoration: none;
}

/*-------------*/


#homeContent2 h3{
	font-size: 83px;
	-webkit-text-stroke: 3px #fff; 
	-webkit-text-fill-color: transparent;
	margin-left: 77px;
	margin-top: 46px;

}
.button_2{
	width: 205px;
	height: 50px;
	background-color: #CF0A2C;
	text-align: center;
	margin-left:620px;
	margin-top: 160px;
	
}

.button_2 a{

	font-size: 20px;
	color: white;
	line-height: 52px;
	text-decoration: none;
	
}

/*--------------*/
#homeContent3 h3{
	font-size: 83px;
	-webkit-text-stroke: 3px #fff; 
	-webkit-text-fill-color: transparent;
	margin-left: 220px;
	margin-top: 70px;

}
.button_3{
	width: 205px;
	height: 50px;
	background-color: #CF0A2C;
	text-align: center;
	margin-left:64px;
	margin-top: 105px;
	
}

.button_3 a{

	font-size: 20px;
	color: white;
	line-height: 52px;
	text-decoration: none;
	
}






/*---------------*/



#homeContent4 h3{
	font-size: 83px;
	-webkit-text-stroke: 3px #fff; 
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 80px;
}

#homeContent4 h4{
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 38px;
}


.homepageSign{

	margin-top: 54px;
	margin-left: 240px;
}

.inputhomeArea{
	width: 261px;
	height: 41px;
	display: inline-block;
}

.button_4{
	width: 114px;
	height: 45px;
	background-color: #CF0A2C;
	text-align: center;
	margin-left:7px;
	display: inline-block;
	
}

.button_4 a{

	font-size: 15px;
	color: white;
	line-height: 45px;
	text-decoration: none;	
}

.homepageSign input::placeholder{
  color: #CF0A2C;
}
/*------------------------------------------------- HOME page end -----------------------------------------------------------*/












/*----------------------------------------------------- About page ------------------------------------------------------------*/

#aboutContainer{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: rgb(207,10,44);
	background: linear-gradient(148deg, rgba(207,10,44,1) 0%, rgba(19,41,75,1) 68%);
	justify-content: center;
	align-items: center;
}
/*-----------------------*/

#aboutHero{
	width: 960px;
	height: 542px;
	position: relative;
}

#aboutHero a{
	position: absolute;
	top: 448px;
	left: 725px;
	width: 153px;
	height: 60px;
	border-radius: 30px;
	background-color: #13294B;
	color: white;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;

}

/*--------------------*/

#aboutContent1{
	width: 960px;
	height: 520px;
	background-color: white;
	position: relative;
}

#aboutContent1 img{
	position: absolute;
}

#aboutContent1 img:nth-child(2){
	top: 230px;
}

#aboutContent1 img:nth-child(3){
	top: 90px;
	left: 124px;
}
#aboutContent1 img:nth-child(4){
	top: 105px;
	left: 160px;
}


/*-------------------*/
.a_content1Text p{
	position: absolute;
	width: 429px;
}

.a_content1Text p:nth-child(1){
	font-size: 44px;
	top: 63px;
	left: 602px;
}

.a_content1Text p:nth-child(2){
	font-size: 20px;
	top: 118px;
	left: 459px;
}

/*-----------------------*/


#aboutContent2{
	position: relative;
	height: 1613px;
	width: 960px;
	background: url("../images/about_page/bgc1.png");
}

.content2Info1,.content2Info2,.content2Info3,.content2Info4，.content2Info5 {
	
	position: absolute;
}
/*-------------------*/

.content2Info1 img{
	left: 74px;
	position: absolute;
}
.content2Info1 p{
	margin-left: 74px;
	position: absolute;
}

.content2Info1 p:nth-child(2) {
	color: white;
	left: 542px;
	top: 32px;
	font-size: 44px;

}
.content2Info1 p:nth-child(3) {
	color: white;
	top: 85px;
	left: 330px;
	font-size: 20px;
	width: 440px;
	height: 77px;
	line-height: 26px;

}
/*-------------------*/

.content2Info2 p{
	left: 62px;
	top: 377px;
	position: absolute;
	font-size: 40px;
	color: white;
	width: 292px;
	height: 55px;
}
.content2Info2 img:nth-child(2){
	left:384px;
	top: 300px; 
	position: absolute;
}

.content2Info2 img:nth-child(3){
	left: 648px;
	top: 300px; 
	position: absolute;

}
/*-----------------*/

.content2Info3 img{
	top: 586px;
	left: 74px;
	position: absolute;
}
.content2Info3 p{
	
	position: absolute;
}

.content2Info3 p:nth-child(2) {
	color: white;
	font-size: 44px;
	top: 658px;
	left: 629px;

}
.content2Info3 p:nth-child(3) {
	color: white;
	font-size: 20px;
	top: 760px;
	left: 591px;
	width: 264px;
	height: 155px;

}
/*----------------------*/
.content2Info4 p{
	position: absolute;
	color: white;
	font-size: 40px;
}

.content2Info4 p:nth-child(1){
	top: 1116px;
	left: 322px;
}

.content2Info4 p:nth-child(2){
	top: 1176px;
	left: 181px;
}
/*-----------------------*/

.content2Info5 img{
	position: absolute;
	top: 1271px;
}

.content2Info5 img:nth-child(1){
	left: 82px;
}

.content2Info5 img:nth-child(2){
	left: 535px;
}
/*-----------content 3-------------*/
#aboutContent3 {
	width: 960px;
	height: 523px;
	background-color: white;
	position: relative;
}

#aboutContent3 img,#aboutContent3 h2,#aboutContent3 p,.content3_lines img{
	position: absolute;
}
/*-----------------*/
#aboutContent3 h2{
	font-size: 44px;
	top: 37px;
	left: 367px;
}

.content3_img img:nth-child(1){
	top: 104px;
	left: 139px;
}


.content3_img img:nth-child(2){
	top: 121px;
	left: 700px;
}



.content3_img img:nth-child(3){
	top:286px ;
	left:139px ;
}


.content3_img img:nth-child(4){
	top: 286px;
	left:695px ;
}


.content3_img img:nth-child(5){
	top: 140px;
	left: 444px;
}
/*--------------------------*/
.content3_text p:nth-child(1){
	top: 229px;
	left:170px ;
}
.content3_text p:nth-child(2){
	top: 229px;
	left: 746px;
}

.content3_text p:nth-child(3){
	top: 435px;
	left:166px;
}

.content3_text p:nth-child(4){
	top: 435px;
	left:746px ;
}
/*-------------------------*/

.content3_lines img:nth-child(1){
	transform: rotate(-0.2turn);
	top:151px ;
	left:260px ;
}
.content3_lines img:nth-child(2){
	transform: rotate(0.2turn);
	top: 151px;
	left: 697px;
}
.content3_lines img:nth-child(3){
	transform: rotate(-0.4turn);
	top: ;
	left: ;
}
.content3_lines img:nth-child(4){
	transform: rotate(0.8turn);
	top: ;
	left: ;
}


/*--------------------------------------------------About page end-------------------------------------------------------*/
















/*----------========================================Products page ==================================---------------------*/


#productsContainer{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: rgb(207,10,44);
	background: linear-gradient(148deg, rgba(207,10,44,1) 0%, rgba(19,41,75,1) 68%);
	justify-content: center;
	align-items: center;
}


#productsHero{
	width: 960px;
	background-color: white;

}
.p_heroImg{
	margin-left: 10px;
}

#p_content1{
	width: 960px;
	height: 480px;
}


#p_content2{
	width: 960px;
	height: 480px;
}


#p_content3{
	width: 960px;
	height: 480px;

}
#p_content4{
	width: 960px;
	height: 480px;
	margin-bottom: 38px;
}
/*---------------*/
#p_content1,#p_content2,#p_content3,#p_content4{
	margin-top: 38px;
}
/*----------------*/
#p_content1,#p_content2,#p_content3,#p_content4{
	position: relative;

}
/*----------------*/
.content1_beer,.content2_beer,.content3_beer,.content4_beer{
	position: absolute;
	top: 168px;
	left: 148px;

}
/*----------------*/
#beer_info_1,#beer_info_2,#beer_info_3,#beer_info_4{
	position: absolute;
	top: 72px;
	left: 284px;
	display: flex;
	flex-direction: column;
}
/*----------------*/
#beer_info_1 h4,#beer_info_2 h4,#beer_info_3 h4,#beer_info_4 h4{
	font-size: 46px;
	margin-bottom: 18px;
}
/*----------------*/
#beer_info_1 h4{
	color: #0B61A3;
}
#beer_info_2 h4{
	color: #E7C1FF;
}

#beer_info_3 h4{
	color: #FEC100;
}

#beer_info_4 h4{
	color: #1CA066;
}
/*----------------*/

.beer_brief{
	width: 600px;
	height: 94px;
	font-size: 24px;
	color: white;
	margin-bottom: 50px;
}
/*----------------*/
#beer_detail_1,#beer_detail_2,#beer_detail_3,#beer_detail_4{
	width: 412px;
	height:70px;
	margin-left: 198px;
}
/*----------------*/
#beer_detail_1 ul li {
	display: inline-block;

}
#beer_detail_2 ul li {
	display: inline-block;

}
#beer_detail_3 ul li {
	display: inline-block;

}
#beer_detail_4 ul li {
	display: inline-block;

}
/*----------------*/

#beer_detail_1 ul li p{
	color: #0B61A3;
	font-size: 15px;
}
#beer_detail_2 ul li p{
	color: #E7C1FF;
	font-size: 15px;
}

#beer_detail_3 ul li p{
	color: #FEC100;
	font-size: 15px;
}

#beer_detail_4 ul li p{
	color: #1CA066;
	font-size: 15px;
}

/*----------------*/

#beer_detail_1 ul li p:nth-child(2){
	font-size: 38px;
}
#beer_detail_2 ul li p:nth-child(2){
	font-size: 38px;
}
#beer_detail_3 ul li p:nth-child(2){
	font-size: 38px;
}
#beer_detail_4 ul li p:nth-child(2){
	font-size: 38px;
}
/*----------------*/

#beer_detail_1 ul li:nth-child(1),#beer_detail_1 ul li:nth-child(2),#beer_detail_1 ul li:nth-child(3){
	margin-right: 50px;
}
#beer_detail_2 ul li:nth-child(1),#beer_detail_2 ul li:nth-child(2),#beer_detail_2 ul li:nth-child(3){
	margin-right: 50px;
}
#beer_detail_3 ul li:nth-child(1),#beer_detail_3 ul li:nth-child(2),#beer_detail_3 ul li:nth-child(3){
	margin-right: 50px;
}
#beer_detail_4 ul li:nth-child(1),#beer_detail_4 ul li:nth-child(2),#beer_detail_4 ul li:nth-child(3){
	margin-right: 50px;
}

/*----------------*/

.products_button{
	width: 122px;
	height: 46px;
	border-radius: 21px;
	background-color: #13294B;
	text-align: center;
	color: white;
	line-height: 46px;
	text-decoration: none;
	margin-left: 450px;
	margin-top: 35px;
}




/*----------------*/

/*----------==================Products page end ===================------------------------------*/
















/*----------==================Advertisements page start ===================---------------------*/



#adsContainer{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: rgb(207,10,44);
	background: linear-gradient(148deg, rgba(207,10,44,1) 0%, rgba(19,41,75,1) 68%);
	justify-content: center;
	align-items: center;
}

/*----------------  ads hero --------------------*/
#adsHero {
	width:960px;
	height: 337px;
}

#adsHero p{
	font-size: 46px;
	color: white;
	position: absolute;
	top: 254px;
	left: 243px;
}

#adsHero{
	position: relative;
}

/*----------------  ads hero  end--------------------*/

/*--------------------  banner 1 ----------------------*/

#ads_banner1 {
	width: 960px;
	height: 465px;
}
#ads_banner1 img{
	float: left;
}
/*--------------------  banner 1 end ----------------------*/


/*--------------------  banner 2 ----------------------*/

#ads_banner2 {
	width: 960px;
	height: 370px;
	background: rgb(104,5,22);
	background: linear-gradient(123deg, rgba(104,5,22,1) 0%, rgba(116,6,25,1) 37%, rgba(207,10,44,1) 100%);
}

#ads_banner2 img{
	float: left;
	margin-top: 58px;
	margin-left: 130px;
}



.ads_banner2Text{
	width: 346px;
	height: 200px;
	margin-left: 489px;
	margin-top: 139px;

}


.ads_banner2Text p{
	color: white;
}


.ads_banner2Text p:nth-child(1){
	font-size: 86px;
	margin-bottom: 11px;
}


.ads_banner2Text p:nth-child(2){
	font-size: 14px;
	margin-bottom: 21px;
}

.ads_banner2Text p:nth-child(3){
	font-size: 10px;
	margin-bottom: 18px;
}

.couponButton{
	display: block;
	color: #CF0A2c;
	font-size: 20px;
	background-color: white;
	width: 303px;
	height: 46px;
	border-radius: 26px;
	text-decoration: none;
	text-align: center;
	line-height: 46px;

}

#ads_banner3{
	width: 960px;
	height: 533px;
	background-color: white;
	position: relative;

}

.ads_banner3Left img, .ads_banner3Right img, .ads_bannerRightTop img, .ads_bannerRightBottom img{
	position: absolute;
}

.ads_banner3Left img{
	margin-left: 101px;
	margin-top: 18px;
}
.ads_banner3Left a{
	position: absolute;
	width: 94px;
	height: 36px;
	background-color: #cf0a2c;
	color: black;
	font-size: 20px;
	border-radius: 26px;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	top: 490px;
	left: 384px;

}


.ads_bannerRightTop{
	width: 396px;
	height: 256px;
}

.ads_bannerRightTop img{
	left: 564px;
}

.ads_bannerRightTop img:nth-child(1){
	margin-top: 10px;
	
}

.ads_bannerRightTop img:nth-child(2){
	margin-top: 63px;
	margin-left: 170px;
}



.ads_bannerRightTop a{
	position: absolute;
	width: 94px;
	height: 36px;
	background-color: #cf0a2c;
	color: black;
	font-size: 20px;
	border-radius: 26px;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	top: 200px;
	left: 670px;
}

.ads_bannerRightBottom a{
	position: absolute;
	width: 94px;
	height: 36px;
	background-color: #cf0a2c;
	color: black;
	font-size: 20px;
	border-radius: 26px;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	top: 480px;
	left: 800px;
}

.ads_bannerRightBottom {
	margin-top: 30px;
}
.ads_bannerRightBottom img{
	left: 567px;
	margin-left: 40px;
}


.line{
	position: absolute;
	height: 533px;
	width: 5px;
	background: rgb(207,10,44);
	background: linear-gradient(123deg, rgba(207,10,44,1) 6%, rgba(19,41,75,1) 63%);
	margin-left: 500px;
}

/*--------------------  banner 2 end ----------------------*/



/*--------------------  banner 3 ----------------------*/
/*--------------------  banner 3 end  ----------------------*/

/*----------==================Advertisements page end ===================---------------------*/















/*------------------------- This is for contact page --------------------------------------------*/
#contactContainer{
	width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}



/*----------for banner -----------*/
#contactBanner{
	width: 960px;
	height: 407px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	position: relative;
	background-color: #2F2E2E;
}

.blueLine{
	width: 257px;
	height: 19px;
	background-color: #24C7E5;
	opacity:0.4;
	margin-top: 145px;
	margin-left:69px;	
}

.c_bannerText{
	width: 352px;
	height: 181px;
	position: absolute;
	top: 95px;
	left: 69px;
}

.c_bannerText h4{
	font-size: 70px;
	color: white;
}
.c_bannerText p {
	font-size: 20px;
	color: white;
	margin-top: 25px;
}

.gradientCircle{
	position: absolute;
	height: 250px;
	width: 250px;
	background: rgb(2,0,36);
	background: linear-gradient(80deg, rgba(2,0,36,1) 29%, rgba(207,10,44,1) 100%);
	opacity: 50%;
	/*backdrop-filter:blur(1rem);*/
	filter: blur(4px);
	box-shadow:inset 0px 0px 100px 100px rgba(255,255,255, 0.1);
	border-radius: 50%;
	top: 107px;
	left: 194px;
}



/*relative blueLine position */
.c_bannerPhoto_1{
	margin:90px 20px 90px 200px;
}


.c_bannerPhoto_2{
	margin-top: 70px;
	margin-left: 10px;
}

/*-----------banner end -----------*/


/*---------- contact form 1 -----------*/

#contactForm1{
	width: 960px;
	height: 601px;
	background-color: black;
	display: flex;
	position: relative;
/*	align-items: center;
	justify-content: center;*/
}


.form1Bg{
	display: flex;
}
.formCircle1{
	height: 370px;
	width: 370px;
    background: #CF0A2C;
    border-radius: 0 0 370px 0;
	filter: blur(2px);
}

.formCircle2{
	height: 370px;
	width: 370px;
    background: #13294B;
    border-radius: 370px 0 0 0;
    float: right;
    margin-top: 231px;
    margin-left: 220px;
 	filter: blur(2px);
}

#form1Board{
	width: 770px;
	height: 412px;
	background-color: #2f2f2f;
	position: absolute;
	top: 111px;
	left: 95px;
	display: flex;
	flex-direction: row;
}

.form1Logo{
	width: 225px;
	height: 120px;
}

.form1Logo img{
	margin-top: 180px;
	margin-left: 90px;
}




.form1Right{
	display: flex;
	flex-direction: column;
	width: 370px;
	height: 412px;
	margin-left: 110px;
}



.form1Title1{
	color:#24C7E5;
	margin-top: 52px;
	font-size: 38px

}

.form1Title2{
	color: white;
	margin-top: 11px;
	font-size: 32px;
}

.formInRow{
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}


#age{
	margin-left: 29px;
}

#email{
	margin-top: 26px;
}

#address{
	margin-top: 24px;
}
#checkbox{
	margin-top: 24px;

}
.submitButton{
	margin-top: 27px;
}

.inputEmail, .inputAddress{
	width: 328.5px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px; 
	background-color: #2F2F2F;
	font-size: 18px;
}

.inputName,.inputAge{
	width: 148px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px; 
	background-color: #2F2F2F;
	font-size: 18px;
}


.inputCheck{
	width: 17px;
	height:17px;
	cursor: pointer;
}

#checkbox label{
	color: #808080;
}

.submitButton{
	width: 85px;
	height: 24px;
	background-color: #24C7E5;
	border-radius: 12px;
	text-align: center;
}
.submitButton a{
	font-size: 10px;
	color: white;
	line-height: 24px;
	text-decoration: none;
}

span{
	color:#24C7E5;
}

/*---------- contact form 1 end ----------*/




/*---------- contact form 2  ----------*/
#contactForm_2{
	width: 960px;
	height: 591px;
	display: flex;
}

#map{

	float: left;
}


/*form 2 right side*/
#form2Right{
	width: 480px;
	height: 620px;
	background-color: #2F2F2F;
	float: right;

}
.form2Title{
	margin-left: 166px;
	margin-top: 52px;
}


.form2Title p{
	font-size: 27px;
	color: white;
}

.contactForm2Icon {
	width: 369px;
	height: 78px;
	margin-top: 20px;
	margin-left: 67px;

}

.contactForm2Icon > div{
	float: left;
}

.contactForm2Icon p{
	font-size: 18px;
	color: white;
}

/*location icon*/
.icon_location object{
	margin-left: 15px;
	margin-bottom: 15px;
}


/*phone icon*/
.icon_phone{
	margin-left:33px;
}


.icon_phone object{
	margin-left: 30px;
	margin-bottom: 20px;
}
/*wifi icon*/


.icon_wifi{
	margin-left: 33px;
}


.icon_wifi object{
	margin-bottom: 12px;
}

.icon_wifi p{
	text-align: center;
}





.form2Bottom{
	width: 385px;
	height: 313px;
	background-color: black;
	border-radius: 47px;
	margin-top: 60px;
	margin-left: 46px;

}


.form2Title2 {
	width: 385px;
	height: 55px;
}
.form2Title2 p{
	color: white;
	text-align: center;
	line-height: 55px;

}

#deliveryForm{
	display: flex;
}

.form2Bottom_left{
	float: left;
	margin-left: 30px;
}

#inputCity, #inputStreet, #inputPostcode{
	width: 149px;
	height: 36px;
	border-radius:18px;
	font-size: 13px;
	font-family: "bud_boldregular",Arial,serif;
}
#city,#street,#postcode{
	display: flex;
	flex-direction: column;
}

#city,#street{
	margin-bottom: 3px;
}

#postcode{
	margin-bottom: 20px;
}


.form2Bottom_left label{
	color: white;
	font-size: 13px;
	margin-left: 5px;
}

.form2Bottom_right label{
	color: white;
	margin-left: 5px;
	
}


.form2Bottom_right {
	margin-left: 25px;
}

#messageArea{
	background-color: white;
	width: 149px;
	height: 194px;
	border-radius: 18px;
	margin-top: 10px;
	font-family: "bud_boldregular",Arial,serif;
	color: #808080;

}

.finishButton a{
	color: white;
	text-decoration: none;
}
.finishButton{
	width: 149px;
	height: 36px;
	background-color: #24C7E5;
	border-radius: 18px;
	text-align: center;
	font-size: 13px;
	line-height: 36px;

}



/*---------- contact form 2 end ----------*/


/*------footer---------*/

footer{
	width: 960px;
	height: 105px;
	display: flex;
	background: rgb(19,41,75);
	background: linear-gradient(90deg, rgba(19,41,75,1) 24%, rgba(207,10,44,1) 72%);
}

.footerRight{
	width: 380px;
	height: 83px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 350px;
}
.footerLogo{
	margin-top: 20px;
	margin-left: 18px;

}
.socialMedia{
	width: 313px;
	height: 32px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 18px;
}
.socialMedia p{
	color:white;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 32px;
}
#facebook{
	margin-left: 49px;
}

#twitter,#youTube{
	margin-left: 16px;
}

.footerCopy p{
	text-align: center;
	font-size:12px;	
	color: white;
	margin-top: 10px;
}

/*-------footer end--------*/


/*-------------------------------- contact page end ---------------------------------*/



